// == RULE

// -- WEIGHT

@mixin text_weight(
    $weight
    )
{
    font-weight: $weight;
}

// -- STYLE

@mixin text_style(
    $style
    )
{
    font-style: $style;
}

// -- DECORATION

@mixin text_decoration(
    $decoration
    )
{
    text-decoration: $decoration;
}

// -- SIZE

@mixin text_size(
    $size
    )
{
    font-size: $size;
}

// -- HEIGHT

@mixin text_height(
    $height: 1
    )
{
    line-height: $height;
}

// -- SPACING

@mixin text_spacing(
    $spacing
    )
{
    letter-spacing: $spacing;
}

// -- COLOR

@mixin text_color(
    $color
    )
{
    color: $color;
}

// -- ALIGN

@mixin text_align( $align )
{
    @if $align == left or $align == center or $align == right
    {
        text-align: $align;
    }

    @else if $align == top or $align == middle or $align == bottom
    {
        vertical-align: $align;
    }

    @else
    {
        @error $align;
    }
}

// -- CASE

@mixin text_case(
    $case
    )
{
    text-transform: $case;
}
