// == RULE

// -- BORDER

@mixin border(
    $top_border,
    $right_border: $top_border,
    $bottom_border: $top_border,
    $left_border: $right_border
    )
{
    border-top: $top_border;
    border-right: $right_border;
    border-bottom: $bottom_border;
    border-left: $left_border;
}

@mixin border_vertical(
    $top_border,
    $bottom_border: $top_border
    )
{
    border-top: $top_border;
    border-bottom: $bottom_border;
}

@mixin border_horizontal(
    $left_border,
    $right_border: $left_border
    )
{
    border-left: $left_border;
    border-right: $right_border;
}

@mixin border_top(
    $top_border
    )
{
    border-top: $top_border;
}

@mixin border_bottom(
    $bottom_border
    )
{
    border-bottom: $bottom_border;
}

@mixin border_left(
    $left_border
    )
{
    border-left: $left_border;
}

@mixin border_right(
    $right_border
    )
{
    border-right: $right_border;
}

@mixin border_style(
    $style
    )
{
    border-style: $style;
}

@mixin border_radius(
    $radius
    )
{
    border-radius: $radius;
}

